.notification {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
   

  .notification.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  
  h1, h2, h3, p, li {
    color: #f8f9fa;
  }

  label {
    color: #78797a;
  }